@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

header {
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 200px;
}
h1 {
  background-color: black;
  width: 100%;
  text-align: center;
}
h1 a:hover {
  color: #5a30bd;
}

.logo {
  text-decoration: none;
  color: #f0f0f0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.8em;
}
.logo_2 {
  text-decoration: none;
  color: #3a6cf4;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.1em;
  text-align: center;
}
.logo_3 {
  text-decoration: none;
  color: #3a6cf4;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.1em;
  align-content: center;
}
.logo_4 {
  text-decoration: none;
  color: #3a6cf4;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.1em;
  align-content: center;
}

.navigation a {
  color: #3a6cf4;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.1em;
  padding-left: 30px;
}

.navigation a:hover {
  color: #5a30bd;
}

.class-theme1 {
  background-image: url(theme.png);
  background-size: 100% 100%;
}
.class-theme2 {
  background-image: url(theme.png);
  background-size: cover;
}
.class-theme3 {
  background-image: url(theme.png);
  background-size: cover;
}
.class-theme4 {
  background-color: rgb(150, 127, 71);
}

h2 {
  border-width: 2%;
  border-style: solid;
  border-color: red;
  width: 30%;
  padding-left: 5%;
  padding-right: 5%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: blanchedalmond;
  color: rgb(121, 11, 11);
  font-size: 20px;
  padding: 1%;
}
.class-cut {
  color: rgb(1, 66, 1);
  font-size: 15px;
}
.class-define {
  color: rgba(97, 8, 8);
}
.class-blo {
  color: rgba(97, 8, 8);
}
p {
  text-align: center;
  color: rgb(50, 23, 112);
}

.class-mail {
  color: rgb(70, 60, 5);
}
.class-numero {
  color: rgb(70, 60, 5);
}
.class-face {
  text-decoration: none;
  color: blue;
}
.class-github {
  text-decoration: none;
  color: rgb(253, 12, 161);
}
.class-linkedin {
  text-decoration: none;
  color: rgb(100, 102, 9);
}
a {
  text-decoration: none;
}
